/* routing 될 페이지의 가장 상위 객체에 해당 className으로 container지정하여 css 를 적용시켜 창 크기 등의 공통사항을 적용합니다. 
페이지의 일관성을 크게 해치지 않는 선에서 자유롭게 변경해주시면 좋을것 같아요. */
.container {
    border: 4px solid #40BAAA;
    border-top: none;
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
